/* body {
    display: 
    background-color: #f8f9fa;
    font-family: 'Lato', sans-serif;
} */



.border-custom-pink {
    border-color: #ffc0cb !important;

}



.bg-custom-light-pink {
    background-color: #ffc0cb;
}

.hr-pink {
  background-color: #ffc0cb;
  height: 5px;             
  border: none;              
  opacity: 1;              
}

.scroll-container {
  overflow-x: auto; /* This enables the horizontal scrollbar */
  padding: 20px;
}

.scroll-container::-webkit-scrollbar {
  height: 12px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #e9ecef; /* A light gray track */
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #adb5bd;
  border-radius: 10px;
  border: 3px solid #e9ecef;
}

.icon-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
  width: max-content;
}

.project-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 120px;
  cursor: pointer;
  color: #212529; 
  text-decoration: none;
}

.project-icon:hover {
    color: #ffc0cb;
}

.project-icon svg {
  width: 80px;
  height: 80px;
  margin-bottom: 0.5rem;
}

.project-icon p {
  margin: 0;
  font-weight: 500;
}

.project-icon-container {
  position: relative;
  display: inline-block;
}

.delete-button {
  background: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: -10px;
  left: -8px;
  color: #888;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.project-icon-container:hover .delete-button {
  opacity: 1;
}

.delete-button:hover {
  background-color: #e9ecef;
  color: #000;
}