
/* body {
    display:
    background-color: #f8f9fa;
    font-family: 'Lato', sans-serif;
} */


.custom-square {
    
    width: 350px;

    
    max-width: 90%;

    
    aspect-ratio: 1 / 1;
}


.bg-custom-light-pink {
    background-color: #ffc0cb;
}