.body {
  /* background-color: #f8f9fa;  */
  background-color: #fffbf7; 
  font-family: 'Lato', sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.custom-square {
    
    width: 350px;

    
    max-width: 90%;

    
    aspect-ratio: 1 / 1;
}

.bg-custom-light-pink {
    background-color: #ffc0cb;
}

.project-link {
  color: inherit; 
  text-decoration: none;
}


.project-link:hover {
  opacity: 0.7;
}

.edit-icon {
  cursor: pointer;
  font-size: 0.8em;
  color: #6c757d;
}

.edit-icon:hover {
  color: #212529;
}

.hr-pink {
  background-color: #ffc0cb;
  height: 5px;             
  border: none;              
  opacity: 1;              
}

.hr-grey {
  background-color: #D8D8D8;
  height: 4px;             
  border: none;              
  opacity: 1;              
}